<div class="filmes-container">
    <div class="filme-1">
      <img [src]="caminho[0]">
      <br>
      {{filme.infos.filmes[0]}}
    </div>


    <div class="filme-2">
      <img [src]="caminho[1]">
      <br>
      {{filme.infos.filmes[1]}}
    </div>


    <div class="filme-3">
      <img [src]="caminho[2]"> <!--BINDING-->
      <br>
      {{filme.infos.filmes[2]}}
    </div>

    <div class="filme-4">
      <img [src]="caminho[3]">
      <br>
      {{filme.infos.filmes[3]}}
    </div>

    <div class="filme-5">
      <img [src]="caminho[4]">
      <br>
      {{filme.infos.filmes[4]}}
    </div>

    <div class="filme-6">
      <img [src]="caminho[5]">
      <br>
      {{filme.infos.filmes[5]}}
    </div>

    <div class="filme-7">
      <img [src]="caminho[6]">
      <br>
      {{filme.infos.filmes[6]}}
    </div>

    <div class="filme-8">
      <img [src]="caminho[7]">
      <br>
      {{filme.infos.filmes[7]}}
    </div>


    <div class="filme-9">
      <img [src]="caminho[8]">
      <br>
      {{filme.infos.filmes[8]}}
    </div>


    <div class="filme-10">
      <img [src]="caminho[9]">
      <br>
      {{filme.infos.filmes[9]}}
    </div>


    <div class="filme-11">
      <img [src]="caminho[10]">
      <br>
      {{filme.infos.filmes[10]}}
    </div>


    <div class="filme-12">
      <img [src]="caminho[11]">
      <br>
      {{filme.infos.filmes[11]}}
    </div>


    <div class="filme-13">
      <img [src]="caminho[12]">
      <br>
      {{filme.infos.filmes[12]}}
    </div>


    <div class="filme-14">
      <img [src]="caminho[13]">
      <br>
      {{filme.infos.filmes[13]}}
    </div>
  </div>